
 <div>
  <!-- <div class="card"   *ngFor="let event of showEvent?.events">
       
        <h1> {{event?.id}}</h1>
        <h2> {{event?.type}}</h2>

        <div >
            <p>hiii</p>
            {{event.venue.name}}
            <p>hiii</p>
        </div>

        <div *ngFor="let e of event?.performers ">
          <h1>  {{e?.type}}</h1>
        <h2>
        {{e?.name}}
    </h2>
        </div>
    </div>
   
  </div> -->

  <app-header>


  </app-header>

  
    <body >
      

      <div class="container">



        
  
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../../../assets/Emusic-Concert.jpg" alt="Los Angeles" style="    width: 80%;
              padding-left: 20%;" >
            </div>
            <!-- <div class="item active">
              <img src="../../../assets/ny.jpg" alt="Los Angeles" style="width:100%;">
            </div> -->
      
            <div class="item">
              <img src="../../../assets/chicago.jpg" alt="Chicago" style="    width: 80%;
              padding-left: 20%;"  >
            </div>
          
            <div class="item">
              <img src="../../../assets/la.jpg" alt="New york"  style="    width: 80%;
              padding-left: 20%;" >
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <div>
    <div>
      <section class="pb-5 pt-5 bg-dark-secondary" >
        <div class="container">
          <div class="row">       
            <div class="col-6 col-lg-6 col-lg-6">
              <div class="card 4">
                <div class="card_image">
                  <img src="https://media2.giphy.com/media/9KDlxZQKaB5K4xgYWZ/giphy.gif?cid=ecf05e47t0j05qsy56ytjf5rds2ukn1eiuh5ett8d0ps28eb&ep=v1_gifs_search&rid=giphy.gif&ct=g" />
                  </div>
                <div class="card_title title-black">
                  
                </div>
                </div>
            
             
            </div>



          
            <div class="col-6 col-lg-6 text-white">
              <div class="typewriter"> 
                <h2  style="text-align: center; color: rgb(246, 240, 240);">Upcoming Events</h2>
              </div>
            
              <hr class="hr-red" style="text-align: center;">
              <div style="align-items: center; margin-left: 20%;">
                
                <iframe src="https://player.vimeo.com/video/137857207" title="Vimeo video"  allowfullscreen></iframe>
              
              </div>
            
                <p class="mt-5 font-weight-100 letter-spacing-4px" style="color: aliceblue;">Make sure you stay up to date with the latest concert news. Get the best discount alerts when you sign up today.</p>
            
              
             
            
               <button class="mb-4 pr-5 pl-5 pt-2 pb-2 btn text-uppercase font-weight-bold text-red btn-outline-red"  [routerLink]="['/register']"  value="Register Here">
                Register Here 
              </button>
             
            </div>
           
          </div>
        </div>
      </section>
    </div>
    <section class="background pb-5 pt-5 text-white text-center" id="showcase-background-2">

      <div class="cards-list">
  
        <div class="card 1">
          <div class="card_image"> <img src="../../../assets/member1.jpg" /> </div>
          <div class="card_title title-white">
            <!-- <p>Card Title</p> -->
          </div>
        </div>
        
          <div class="card 2">
          <div class="card_image">
            <img src="../../../assets/member2.jpg" />
            </div>
          <div class="card_title title-white">
            <p></p>
          </div>
        </div>
        
        <div class="card 3">
          <div class="card_image">
            <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
          </div>
          <div class="card_title">
            <p >Explore More </p>
          </div>
        </div>
          
        
        
        </div>

      <!-- <div class="container">
        <hr class="hr-red"  >
        <p  style="text-align: center; color: rgb(246, 240, 240);">Find out more about the latest talent in the industry. Look through their eyes as you see what inspires them to create music. As they go thorugh their musical quest  to storm the charts see how each of them deal with roadblocks and the personal struggles they need to overcome.</p>
  
        <div class="card-deck mt-5 mb-3 text-center">
          <div class="card mb-4 box-shadow border-0">
            <img class="position-absolute cover" src="../../../assets/member1.jpg" alt="Steven Lee">
            <h4 class="text-red ">Steven Lee</h4>
          </div>
        
          <div class="card mb-4 box-shadow border-0  ">
            <img class="position-absolute cover" src="../../../assets/member2.jpg" alt="Jake Lively">
            <h4 class="text-red ">Jake Lively</h4>
          </div>
        </div>
              </div> -->
    </section>


    <div >
      <div>
        <section>
          <div>
            <h1 style="text-align:center; color: white;"> Latest Events</h1>
          </div>
          <div class="container">
            
            <div class="card"   *ngFor="let event of showEvent?.events">
              <div class="content" *ngFor="let e of event?.performers.slice(0,1)">
                  <div>
                    <div class="imgBx" *ngIf="e" >
                        <img src="{{e.image}}">
                      </div>
                  </div>
                  <div>
                    <div  >
                        <span style="color: cornsilk;">{{e.name}}</span>
                      </div>
                  </div>

                  
                <div class="contentBx">
                  <h3>{{event?.id}}<br><span>{{event?.type}}</span>
                <span style="font-size: medium;" >{{event.venue.name}}</span>
                </h3>
                </div>
              </div>
              <ul class="sci">
                <li>
                  <a  style="color: rgb(98, 0, 255);"   (click)="save(event?.id
                  )" >Add To Wishlist!!</a>
                </li>
               
              </ul>
            </div>
           
          </div>
        </section>
      </div>
    </div>

    

      <div    class="dv"   >
    
      
        <div fxLayout fxLayoutAlign="center center">
          <!-- <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
          </mat-form-field> -->
        </div>
        
      
        <table mat-table  [dataSource]="showEvent?.events" matSort >
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Event Id </th>
            <td mat-cell *matCellDef="let event"> {{event?.id}}</td>
          </ng-container>
        
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef  > Event Type </th>
            <td mat-cell *matCellDef="let event"> {{event?.type}} </td>
          </ng-container>
         
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef  > Date </th>
            <td mat-cell *matCellDef="let event"> {{event?.datetime_utc | date}} </td>
          </ng-container> 

          <ng-container matColumnDef="Venue">
            <th mat-header-cell *matHeaderCellDef  >City</th>
            <td mat-cell *matCellDef="let event"> {{event?.venue.city}} </td>
          </ng-container> 
          
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef >Venue Name </th>
            <td mat-cell *matCellDef="let event"> {{event?.venue.name}} </td>
          </ng-container>

          <ng-container matColumnDef="URL">
            <th mat-header-cell *matHeaderCellDef > Book Your Tickets </th>
            <td mat-cell *matCellDef="let event"> <a [routerLink]= "event?.venue.url" >{{event?.venue.url}}</a> </td>
          </ng-container>
      
        <div   >
          
    
        </div>
         
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
      
        <!-- <mat-paginator class="pg" [pageSize]="4" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator> -->
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
      </div>
    
    </div> 
   
  
    </body>
 </div>
  <app-footer></app-footer>
  
  